DOMAIN=REDACTED
ALT_DOMAIN=REDACTED
EMAIL=REDACTED
TIMEZONE=REDACTED
CLOUDFLARE_TOKEN=REDACTED
ADMIN_SSH_KEY=REDACTED
ADMIN_SSH_KEY_FALLBACK=REDACTED
DISCORD_TOKEN=REDACTED
ADMIN_STATPING_USER=REDACTED
ADMIN_STATPING_PASSWD=REDACTED
