<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404 | Chause Benjamin</title>
    <meta name="apple-mobile-web-app-title" content="Chausse Benjamin" />
    <meta name="application-name" content="Chausse Benjamin" />
    <meta name="msapplication-TileColor" content="#222d32" />
    <meta name="theme-color" content="#222d32" />
  </head>
  <body>
    <div class="sad">¯\_(ツ)_/¯</div>
    <p class="error-message">
      Your web search ran into a problem and you should go back to my home page.
      <br />
      <br />
      If you'd like to know more, you can search online for this error:
      <a href="https://en.wikipedia.org/wiki/HTTP_404">404-Page not found</a>
      <br />
      You can also scan the QR code below to for a quick diagnostic:
      <br />
      <img
        src="/qr-diag.png"
        alt="QR Code"
        class="qrcode"
        style="width: 200px"
      />
      <br />
      We are collecting no info and will not restart for you.
      <br />
      <br />
      You can return to my home page by
      <a href="/"> Clicking Here</a>.
    </p>
  </body>
</html>

<style>
  body {
    font-family: sans-serif;
    background-color: #0075d1;
    color: #f2f2f2;
  }

  .sad {
    font-size: 140px;
    margin-top: 40px;
    margin-left: 40px;
  }
  .qrcode {
    font-family: monospace;
    margin: 0;
    padding: 0;
  }
  .error-message {
    margin-bottom: 0px;
    margin-left: 16px;
    font-size: 21px;
  }

  .speech {
    display: grid;
    grid-template-columns: auto, 1fr;
  }

  a {
    color: #f2f2a2;
  }
</style>
