{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
<div class="post-list">
{{- range.Pages }}
<div class="post-item">

	<a href="{{ .RelPermalink }}">{{ .Title }}</a><br>
  <small class="post-summary">{{ .Summary | truncate 220 " ..." }} </small>
  <small class="post-date">
      {{- if .Param "datesinlist" }}
      <br>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "(2006-01-02)" }}</time>
      {{ end -}}
  </small>
	{{- if .Param "authorsinlist" }}
	{{ with .Params.authors }}
		by
		{{ delimit . ", " " and " }}
	{{end}}
	{{ end -}}
</div>
{{- end }}
</div>
{{- end }}
